:root
{
    --titles:'Silkscreen', cursive;
    --normal:'Manrope', sans-serif;
    --primary-color:rgb(35 40 64);
    --input-background:rgb(54, 54, 80);
    --accept:#59df7f;
    --cancel:#f95db2;
    --neutral:rgb(119, 119, 253);
}